body {
    background: radial-gradient(circle at left 10px, #c0c0c0, #0d0202 500px, #ffffff);
    height: 1000px;
    color: #b3b3b3;
}

header {
    background: #424242;
}

header .logo {
    width: 200px;
}

header .wrap-flex {
    display: flex;
}

header img {
    width: 100%;
}

main {
    padding: 10px;
    /*width: 1200px;*/
    margin: 0 auto;
}

.welcome {
    text-align: center
}

ul ul {
    padding-left: 0;
}

ul ul li {
    list-style-position: inside;
}

#left a:link {
    color: #820000;
}

#left {
    float: right;
    width: 300px;
    border: 1px solid black;
    color: #1f1f1f;
}

header img:hover {
    transform: rotate(-3deg);
}
main .wrap-flex {
    padding-left: 55px;
    display: flex;
    justify-content: space-between;
}

.center {
    display: inline-block;
    width: 65%;
}

.post {
    background: #bbbbbb11 ;
    background-size: cover;
    padding: 5px 10px;
}

.roll {
    left: -250px;
    top: 150px;
    background: #71709d;
    position: fixed;
    width: 300px;
    height: 600px;
    transition-duration: 250ms;
}

.roll:hover {
    left: 0;
}

.roll ul {
    padding-top: 20px;
}

.roll-li {
    margin: 5px;
    font-size: 20px;
    font-family: Georgia, sans-serif;
}

.roll-li a {
    color: #12405D;
}

.roll-footer {
    width: 200px;
    height: 20px;
    background: yellow;
}

.roll-footer:hover {
    height: 400px;
}

.interesting {
    display: inline-block;
    width: 30%;
    padding: 5px 10px;
    background: #616161;

}